.externalNativeBuild/
.gradle/
.cxx/
.idea/
build/
captures/
local.properties
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
*.apk
*.iml
*.jks
*.hprof
*.keystore
*.log